h1{color: green; font-size: 36px; text-align: center;}
.image{text-align: center; margin: auto; display: block;}
#h2{font-size: 28px; background-color: greenyellow; opacity: 0.5;}
h3{border-style: dashed; border-color: rgb(36, 143, 36);}
h4{border-style: dashed; border-color: rgb(36, 143, 36);}